*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(-20deg, rgba(146, 1, 1, 0.906) 30%, rgba(0, 0, 0, 0.913) 40%);
     */
     
    color: #fff;
    width: 100%;
}
#header{
    width: 100%;
    padding-bottom: 10%;
    /* background-image: url("https://i.ytimg.com/vi/Zja5VlMon1Q/maxresdefault.jpg"); */
    background-color: rgba(0, 0, 0, 0.865);
    background-size: cover;
    background-position: center;

}
nav > h1{
    width: 20%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
}
nav > h1 > span {
    color: red;
    font-size: 60px;
    font-weight: 900;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}
nav > div{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav div > p > a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
nav div > p > a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}
nav div > p > a:hover::after{
    width: 100%;
}
nav div > p > a:hover{
    color: rgb(132, 161, 161);
}
.header-text{
    width: 40%;
    margin-top: 13%;
    /* margin-left: 14%; */
}
.header-text > h1 > span{
    color: red;
    font-family: papyrus;
}
.header-text h3 {
    font-size: 40px;
     letter-spacing: 2px;
     font-family: Book Antiqua;
}
.header-text h1{
   font-size: 70px;
   letter-spacing: 3px;
   font-family: Book Antiqua;
}
.header-text p {
    font-family: Cambria;
    font-size: 28px;
    letter-spacing: 0.5px;
    line-height: 15px;
    margin-left: 20%;
}
.header-text p span{
    font-family: Cambria;
    font-size: 28px;
    letter-spacing: 0.5px;
    line-height: 15px;
    color: yellow;
}
.header-parent{
    display: flex;
    justify-content: space-evenly;
}
.header-image{
    margin-top: 8%;
}
.header-image img{
    border-radius: 170px;
}
.header-image img:hover{
    cursor: pointer;
     scale: 1.1;
}

#about{
    padding: 50px 50px;
    background-color:  rgba(0, 0, 0, 0.881);
}
.container > h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 40px;
}
.container>h1 > span{
    color: red;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{
    margin-top: 5%;
    flex-basis: 55%;
}
.about-col-2{
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}
#projects > h1{
    text-align: center;
    font-size: 60px;
    /* margin-bottom: 40px; */
}
#projects{
    padding: 50px 0px;
    background-color: rgba(0, 0, 0, 0.865);
}
#projects > h1 > span{
    color: red;
}
.project-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin: 40px auto;
}
.project-container > div{
    box-shadow: 0 0 10px rgba(1, 1, 30, 0.557);
    background-color: rgba(1, 1, 30, 0.557);
    padding: 22px;
    transition: transform 0.5s;
    margin: auto;
}
.project-container >div > img{
    width: 100%;
    margin: auto;
}
.project-container >div > h2{
    text-align: center;
    letter-spacing: 2px;
    margin: 10px;
    font-size: xx-large;
    color: rgba(255, 99, 71, 0.735);
}
.project-container > div > p > span{
    font-size: large;
}
.project-container > div:hover > img{
    transform: scale(1.1);
    cursor: pointer;
}

#skill{
    padding: 50px 0;
    background-color:  rgba(0, 0, 0, 0.881);
}
#skill > h1{
    text-align: center;
    font-size: 60px;
}
#skill > h1 > span{
    color: red;
}
.skill-container{
    width: 70%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
    text-align: center;
}
.skill-container > div{
    box-shadow: 0 0 1px rgba(1, 1, 30, 0.557);
    background-color: rgba(1, 1, 30, 0.557);
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 10px;
}
.skill-container > div > img{
    width: 100%;
    
}
.skill-container > div:hover{
    scale: 1.1;
    cursor: pointer;
}


#contact{
    background-color: rgba(0, 0, 0, 0.865);
    padding: 10% 10% 3% 10%;
}
.contact-container{
    display: flex;
    gap: 10%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left > h1{
    font-size: 60px;
    margin: 0px 0 20px 0;
}
.contact-left > h1 > span{
    color: red;
}
.contact-left > p{
    font-size: x-large;
    padding: 10px 0;
}
.contact-left > p >i{
    color: gray;
    margin-right: 10px;
}
.contact-right{
    flex-basis: 50%;
    margin: auto;
}
.contact-right > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-right > form > input {
    width: 90%;
    height: 40px;
    margin: auto;
    background-color: rgba(81, 79, 79, 0.826);
    padding-left: 10px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 2px;
}
.contact-icons > a {
     font-size:40px;
     margin:  20px 30px 40px 0;
     display: inline-block;
     transition: transform 0.5s;
}
.contact-icons > a:hover{
    transform: translateY(-8px);
}
.icon-1{
    color: #fff;
}
.icon-2 > img{
    width: 40px;
}
.icon-3 > img{
    width: 40px;
}
.contact-right > h2{
    margin: 0 10px 10px 25px;
}
.contact-right > h2 > span{
   color: darkgoldenrod;
}
textarea{
    width: 90%;
    margin: auto;
    background-color: rgba(81, 79, 79, 0.826);
    padding: 10px 0 0px 10px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}
.contact-right > form > input[type="submit"]{
    background-color: goldenrod;
    border: none;
    font-size:medium;
    height: 50px;
}
.contact-right > form > input[type="submit"]:hover{
    background-color: darkgoldenrod;
}
.design{
    text-align: center;
    margin-top: 10%;
}
.contact-left > a{
    background: rgba(238, 27, 27, 0.708);
    color: white;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    margin-top: 20px;
}
.git{
    font-size: 40px;
    color: #fff;
}
.live{
    font-size: 40px;
    color: #ff004f;
    margin: 10%;
}
.icon1{
    font-size: 40px;
    color: #fff;
}
.icon2 > img{
  width: 40px;
  margin-left: 10%;
}
.icon3 > img{
    width: 38px;
    margin-left: 10%;
    height: 35px;
}
.icon1 > i:hover{
    transform: scale(1.3);
}
.icon2 > img:hover{
    transform: scale(1.3);
}
.icon3 > img:hover{
    transform: scale(1.3);
}
.download{
    background: rgba(238, 27, 27, 0.708);
    color: white;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
}
nav .fas{
    display: none;
}


             /* for small screen */
 @media screen and (max-width: 500px){
 #sideMenu > p > a{
    font-size: 10px;
 }
 nav > h1{
    font-size: 30px;
 }
 nav > h1 > span{
    font-size: 45px;

    
 }
}


@media screen and (max-width: 800px){
    .container > h1{
        font-size: 40px;
    }
   .skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: auto;
   }
   #skill > h1{
    font-size: 50px;
    margin-bottom: 20px;
   }
   .project-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   #header{
    padding-bottom: 10%;
   }
   .header-image > img{
    width: 100px;
   }
   .header-text > h3{
    font-size: x-large;
   }
   .header-text > h1{
    font-size: x-large;
   }
   .header-text > p{
    font-size: 15px;
   }
   .header-text > p > span{
    font-size: 15px;
    margin-left: 5px;
   }
   .contact-container{
    width: 90%;
    margin: auto;
    padding: 0;
    margin: 0;
   }
   .contact-left > h1{
    font-size: 25px;
   }
   .contact-left > p{
    font-size: smaller;
   }
   textarea{
    height: 70px;
   }
   .contact-icons > a {
    font-size:20px;
    display: inline-block;
    transition: transform 0.5s;
}
.contact-icons > a:hover{
   transform: translateY(-2px);
}
.icon-1{
   color: #fff;
}
.icon-2 > img{
   width: 20px;
}
.icon-3 > img{
   width: 20px;
}
.contact-right > form > input {
    width: 90%;
    height: 30px;
    margin: auto;
    background-color: rgba(81, 79, 79, 0.826);
    padding-left: 10px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 2px;
}
.contact-left > a{
    background: rgba(238, 27, 27, 0.708);
    color: white;
    text-decoration: none;
    font-size: smaller;
    /* padding: 12px 20px 12px 20px; 
     margin-top: 20px; */
}
.contact-right > form > input[type="submit"]{
    height: 35px;
}
.download{
    background: rgba(238, 27, 27, 0.708);
    color: white;
    text-decoration: none;
    font-size: small;
}
.icon1{
    font-size: 20px;
    color: #fff;
}
.icon2 > img{
  width: 20px;
  margin-left: 10%;
}
.icon3 > img{
    width: 19px;
    margin-left: 10%;
    height: 17px;
}
#sidemenu > p{
    font-size: smaller;
}
/* nav .fas{
    display: block;
    font-size: 25px;
}
nav > div{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -150px;
    width: 150px;
    height: 70vh;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    text-align: center;
     z-index: 1; 
     transition: right 0.5s; 

}
 nav div .fas{
  position: absolute;
  left: 10px;
  top: 20px;
  cursor: pointer;
}  */
}         
